
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #121212;
    color: white;
}

.centered {
    text-align: center;
    margin-top: 100px;
}

input, button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.game-box {
    background: #1f1f1f;
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

#footer-note {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: #ccc;
}
